<div class="card">
  <div class="card-body">
  <div>
  <span>Nome: </span>
  <input class="form-control" id="nome" [(ngModel)]="cadastro.nome">
</div>
  <div>
  <span>Dias: </span>
  <input class="form-control" id="dias"  [(ngModel)]="cadastro.dias">
</div>
  <div>
    <span>Valor: </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">R$</span>
      </div>
      <input type="text" class="form-control" placeholder="R$ 0,00"  aria-label="Amount (to the nearest dollar)" [(ngModel)]="cadastro.valor">
    </div>
</div>
<br>


<button (click)="calculos()" class="btn btn-secondary" >Enviar</button>
<div>

<div  class="card" style="height: 30px; text-align: center;">
  <span  class="card-body" style="text-align: center; margin: -17px;">Saldo Total:
  <span>{{somaTotal(listaCadastro) | currency: 'BRL'}}</span>
  </span>
</div>
</div>

</div>
</div>
<!--span *ngFor="let obj of listaCadastro">{{obj.saldo}}</!--span-->
